.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 28px auto 56px;
  padding: 0;
  box-sizing: border-box;
  max-width: calc(100% - 48px*2);
}

@media (max-width: 1279px) {
  .header {
    margin: 28px auto 48px;
  }
}

@media (max-width: 1023px) {
  .header {
    max-width: calc(100% - 24px*2);
  }
}

@media (max-width: 767px) {
  .header {
    max-width: calc(100% - 16px*2);
    margin: 16px auto 48px;
  }
}
