.lead__image {
  max-height: 615px;
  max-width: 984px;
}

@media (max-width: 1279px) {
  .lead__image {
    max-width: 928px;
    max-height: 580px;
  }
}

@media (max-width: 1023px) {
  .lead__image {
    max-width: 100%;
    max-height: 480px;
  }
}

@media (max-width: 727px) {
  .lead__image {
    max-width: 100%;
    max-height: 200px;  
  }
}
