.intro {
  max-width: 690px;
  margin: 92px 0 92px 148px;
}

@media (max-width: 1279px) {
  .intro {
    margin: 92px 0 92px 48px;
  }
}

@media (max-width: 1023px) {
  .intro {
    max-width: 720px;
    margin: 88px 24px 88px;
  }
}

@media (max-width: 727px) {
  .intro {
    max-width: 100%;
    margin: 64px 16px 64px;
  }
}
