.place__url-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #AAAAAA;
  text-decoration-line: none;
  margin: 0;
  margin-bottom: 12px;
  text-transform: uppercase;
}

@media (max-width: 1279px) {
  .place__url-heading {
    line-height: 12px;
  }
}